<div class="card-container" *ngIf="livro">
  <a [routerLink]="['/livro', livro.id_livro]" class="card-link-main">
    <div class="card-image">
      <img [src]="livro.capa_url || 'assets/placeholder.svg'" (error)="onImgError($event)" [alt]="livro.titulo">
    </div>
    <div class="card-info">
      <h3 class="card-title">{{ livro.titulo }}</h3>
      <p class="card-author">
        <span *ngIf="livro.autores?.length; else autorFallback">
          <span *ngFor="let a of livro.autores; let i = index">
            {{ a.nome }}<span *ngIf="i < livro.autores.length - 1">, </span>
          </span>
        </span>
        <ng-template #autorFallback>{{ livro.autor?.nome || 'Autor desconhecido' }}</ng-template>
      </p>
    </div>
  </a>
  
  <div class="card-footer">
    <p class="card-price">R$ {{ livro.estoque?.preco || '???' }}</p>
    <button (click)="adicionarAoCarrinho()">Adicionar</button>
  </div>
</div>