<footer class="main-footer">
  <div class="footer-content">
    
    <div class="footer-section contato">
      <h2>( Contato )</h2>
      <p>Instagram: @liapraler</p>
      </div>

    <div class="footer-section logo-social">
      <img src="assets/logo-adesivos.png" alt="Logos LIA">
    </div>

    <div class="footer-section links-rapidos">
      <h2>Navegação</h2>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/loja">Loja</a></li>
        <li><a routerLink="/comunidade">Comunidade</a></li>
        <li><a routerLink="/vender-livro">Venda seu Livro</a></li>
        <li><a routerLink="/solicitar-reforma">Solicitar Reforma</a></li>
      </ul>
    </div>

  </div>
  
  <div class="footer-bottom">
    <p>&copy; 2025 LIA - Estúdio Literário. Todos os direitos reservados.</p>
  </div>
</footer>